<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Creating form</h1>

<!--this.productID = productID;-->
<!--this.productName = productName;-->
<!--this.productQuantity = productQuantity;-->
<!--this.productDescription = productDescription;-->
<!--this.productSubTypeID = productSubTypeID;-->
<!--this.manufacturerID = manufacturerID;-->

<form action="/products" method="post">
    <label for="productName">Name:</label>
    <input id="productName" type="text" name="productName">

    <br>

    <label for="productQuantity">Quantity:</label>
    <input id="productQuantity" type="number" name="productQuantity">

    <br>

    <label for="productDescription">Description:</label>
    <input id="productDescription" type="text" name="productDescription">

    <br>

    <label for="productSubTypeID">productSubTypeID:</label>
    <input id="productSubTypeID" type="number" name="productSubTypeID">

    <br>

    <label for="manufacturerID">manufacturerID:</label>
    <input id="manufacturerID" type="number" name="manufacturerID">

    <br>

    <input type="submit" value="Add product">
<!--    <button class="btn" th:onclick="'audit(' + ${items.id} +');'">Passed the audit</button>-->
</form>

</body>
</html>