<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">List is empty</h2> //todo не работает, не выводится эта надпись
    <div th:case="*">
        <h2>Products</h2>
        <table>
            <thead>
            <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>ProductQuantity</th>
                <th>ProductDescription</th>
                <th>ProductSubTypeID</th>
                <th>ManufacturerID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "product: ${products}">
                <td><a th:href = "@{/products/{id}(id=${product.getId()})}" th:text = "${product.Id}">userid</a></td>
                <td th:text = "${product.productName}"></td>
                <td th:text = "${product.productQuantity}"></td>
                <td th:text = "${product.productDescription}"></td>
                <td th:text = "${product.productSubTypeID}"></td>
                <td th:text = "${product.manufacturerID}"></td>
                <td><a th:href = "@{/products/{id}/edit(id = ${product.Id})}">Update</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/products/new">Create product</a></p>
</div>
</body>
</html>

<!--<button class="btn btn-primary btn-xs" th:onclick="'javascript:audit(\''+${product.productID}+'\');'" >Test</button>-->